.floor-design {
    display: block;
    float: left;
    margin-left: 10px;
    width: 90%;
}

.floor-design .header {
    height: 60px;
    width: 500px;
    display: block;
    position: relative;
    margin-bottom: 1rem;
}

.floor {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.floor .header .tab {
    float: right;
    display: inline;
    z-index: 1;
    height: 34px;
    border: solid 1px #ededed;
    border-bottom: 0 none;
    line-height: 34px;
}

.floor .header .tab a {
    color: #996633;
}

.floor-design .floor .side {
    width: 100%;
}

.floor .panel {
    display: block;
    float: right;
    margin-top: 30px;
    position: relative;
    border: 1px dashed #ccc;
}

.floor .main {
    position: relative;
    z-index: 1;
    width: 950px;
    background-color: #fff;
}

.floor .side .single_image-block {
    width: 250px;
    height: 300px;
}

.floor .side .single_image {
    width: 250px;
    height: 300px;
    position: relative;
    float: left;
}

.floor .panel .panelhandle {
    padding: 0px 10px;
    height: 30px;
    background: #13bbd5;
    position: absolute;
    top: -30px;
    line-height: 30px;
    color: white;
    text-align: center;
}

.floor .main .goods-list li {
    float: left;
    display: block;
    height: 280px;
    width: 200px;
    margin: 10px 36px 0 0;
}

.floor .main .goods-list li .goods {
    position: relative;
    float: left;
    z-index: 2;
    display: none;
}

.floor-design .handle {
    position: absolute;
    /* top: -17px;*/
    display: block;
    z-index: 3;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


/* 2017-7-17-陈小博: 或许其他地方的css的改动影响到了这个地方的样式(遮罩层扩充到了全屏).所以不动存在的css,单独加了个选择器,把遮罩层缩小到字体上面 */

body>div.floor-design>div.header>div.handle {
    top: 45px;
    left: 25px;
    width: 150px;
    height: 50px;
}

.floor-design .handle .handle-body {
    position: relative;
    top: -15px;
    left: 0px;
    display: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: Alpha(opacity=10);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.floor .handle span {
    display: none;
    position: absolute;
    z-index: 4;
    top: 5px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    padding: 3px 5px;
    font-size: 12px;
    font-family: '宋体';
    color: #000;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

i.fa.fa-paint-brush {
    margin-right: 4px;
}

.fa-paint-brush:before {
    content: '\f1fc';
}

.floor .panel .panel-handle {
    height: 120px;
    width: 30px;
    position: absolute;
    right: -30px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    /* background: #13BBD5; */
}

.floor .panel .panel-handle .del {
    border-bottom: none;
}

.floor .panel .panel-handle span {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid white;
}

.floor .panel .panel-handle span a {
    color: white;
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: solid 1px #fff;
    color: #fff;
    text-align: center;
}

.fa-chevron-up:before {
    content: '\f077';
}

.fa-chevron-down:before {
    content: '\f078';
}

.fa-gear:before,
.fa-cog:before {
    content: '\f013';
}

.fa-trash:before {
    content: '\f1f8';
}

.floor .panel .goods-list li .g-img {
    width: 200px;
    height: 200px;
}

.floor .panel .goods-list li .g-img img {
    width: 100%;
    height: 100%;
}

.floor .panel .goods-list li .g-name {
    color: #555;
    line-height: 20px;
    font-size: 14px;
    margin-top: 10px;
    height: 38px;
    overflow: hidden;
}

.floor .panel .goods-list li .g-price {
    font-size: 16px;
    color: #f42424;
    margin-top: 8px;
    line-height: 20px;
}

.floor .panel .goods-list li .g-price i {
    font-style: normal;
}

.brand-hidden {
    display: none;
}

.brand-show {
    display: block;
}


/* 自动商品规则选择器样式 */

.floor .panel .auto-goods-block dl {
    padding: 40px;
    font-size: 15px;
}

.floor .panel .auto-goods-block dl dt {
    font-size: 18px;
    line-height: 30px;
}


/* 2017-7-24-陈小博 修改商品楼层管理-设计页图片的遮罩层样式*/

body>div.floor-design>div.floor>div>div.side.layout.bd-left>div.single_image-block {
    position: relative;
}

body>div.floor-design>div.floor>div>div.side.layout.bd-left>div.single_image-block .handle-body {
    top: 0;
    left: 0;
}

body>div.floor-design>div.floor>div>div.main.layout.bd-right>ul>li.g-list {
    position: relative;
}

body>div.floor-design>div.floor>div>div.main.layout.bd-right>ul>li.g-list .handle-body {
    top: 0;
    left: 0;
}


/* 2017-8-1-陈小博-继续修改楼层设计里的遮罩样式 */

div.floor div.panel .swiper-wrapper {
    display: flex;
}

div.floor div.panel .single_image-block {
    width: 460px;
    height: 270px;
}

.floor .side .single_image a,
.floor .side .single_image img {
    display: inline-block;
    width: 460px;
    height: 270px;
}

div.floor div.panel .block,
div.floor div.panel .single_image {
    position: relative;
}

div.floor div.panel .handle {
    top: 0;
}


/* 2017-8-3-陈小博: 楼层设计里,品牌面板的样式 */

ul.block {
    display: flex;
}

ul.block li {
    width: 70px;
    height: 35px;
}

ul.block img {
    width: 70px;
    height: 35px;
}

ul.block li.brand-hidden {
    width: 70px;
    margin-right: 18px;
}

ul.block li.brand-hidden:last-child {
    margin-right: 0;
}


/* 品牌多的话,允许多行显示 */

#panel-brand-list {
    flex-wrap: wrap;
    justify-content: flex-start;
}

body>div.floor-design>div.floor>div {
    display: flex;
}

body>div.floor-design>div.floor>div>div.main.layout.bd-right {
    width: 660px;
    margin-left: 40px;
}

body>div.floor-design>div.floor>div>div.side.layout.bd-left>div.floor-swiper-container {
    overflow: hidden;
}

.floor-design .panel:last-child .main {
    width: 100%;
}

.floor-design .panel:last-child .main img {
    width: 70px;
    height: 35px;
}

.panel .layout .text-block .text {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0px 5px;
}


/* 2017-9-28-优化样式 */

.pc-floor-module-container {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #323741;
    z-index: 111;
    background: #ebedf3;
}

.pc-floor-module-container h5 {
    font-size: 16px;
}

.pc-floor-module-container h5:hover {
    cursor: pointer;
}

.pc-floor-module-container ul {
    display: none;
    padding-top: 1rem;
    background: white;
    color: black;
}

.pc-floor-module-container ul li {
    border-top: 1px solid #ebebeb;
}

.pc-floor-module-container ul li:hover {
    background: #ebebeb;
    cursor: pointer;
}

.floor-design .header {
    display: flex;
    width: 400px;
    align-items: center;
}

.floor-design h2.saveBtn {
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #323741;
    text-align: center;
    background: #ebedf3;
    margin-right: 10px;
}

.floor-design h2.saveBtn:hover {
    cursor: pointer;
}

.floor {
    width: 1200px;
}

.floor-design {
    width: fit-content;
    margin: 2rem;
    padding: 1rem;
    background: white;
}

.floor-design .floor .side {
    width: 460px !important;
}

.floor .main .goods-list li {
    margin-right: 10px;
}

body>div.floor-design>div.floor>div:nth-child(1)>div.main.layout.bd-right {
    width: calc(100% - 510px);
}

body>div.floor-design>div.header>div.handle {
    top: -19px;
}

body>div.floor-design>div.header>div.handle {
    width: 130px;
    height: 60px;
    top: 0;
    left: 0;
}


/* 单独设置品牌面板遮罩的top */

#brand .handle {
    top: 15px;
    min-height: 30px;
}

#brand {
    min-height: 30px;
}


/* 覆盖当前页面swiper的关于轮播导航的样式 */

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 20px;
    left: 48%;
    left: calc(50% - 100px);
    width: 200px;
    text-align: center;
    z-index: 11;
    position: relative;
}

.panel .main .auto-goods dl{
	margin:20px;
}
.panel .main .auto-goods dl dt{
	font-size:18px;
}
