.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
}

ol, ul {
    list-style: none;
}

a {
    color: #ff5b20;
    text-decoration: none;
}

/* logo */
.user_title {
    font-weight: 600;
    font-size: 18px;
    line-height:60px;
    height:60px;
    margin:10px 0 0 0;
    display:inline-block;
     float:left;
}

.index_logo {
    width: 1200px;
    height: 100px;
    margin: 10px auto;
}

.index_logo img {
    max-height: 60px;
    max-width: 240px;
    margin-top: 10px;
    float:left;
}

.clear {
    clear: both;
}

/* 流程标题 */
.page {
    color: #3c3c3c;
    font: 400 12px/1.6 arial, 'Hiragino Sans GB', 宋体, sans-serif;
}

.steps {
    height: 46px;
    border-bottom: 2px solid #e6e6e6;
    position: relative
}

.steps ol {
    width: 720px;
    margin: 0 auto
}

.steps ol li {
    display: inline;
    float: left;
    width: 170px;
    padding-left: 70px;
    height: 46px;
    /*line-height: 46px;*/
    font-size: 16px;
    font-weight: 700;
    color: #999;
    font-family: "\5FAE\8F6F\96C5\9ED1", "\534E\6587\7EC6\9ED1", "\9ED1\4F53", arial
}

.steps ol li i {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    text-align: center;
    font-style: normal;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    background: url(../images/ico-circle2.png) no-repeat 0 0
}

.steps ol li.active {
    color: #3e3e3e;
    border-bottom: 2px solid #ff4700
}

.steps ol li.active i {
    background-image: url(../images/ico-circle1.png)
}

.steps-4 ol li {
    width: 200px;
    padding-left: 30px
}

/* 主体内容  填写手机号*/
.content {
    padding: 50px 0;
}

.mobile-check {
    display: none
}

.form-list {
    margin: 0 auto;
    font-size: 14px
}

.form-main-list {
    width: 720px
}

.form-group {
    padding: 10px 0
}

.form-group-line {
    border-bottom: 1px dashed #eee
}

.form-item {
    padding: 20px 0 10px 260px;
    zoom: 1
}

.form-item:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0
}

.form-item-short {
    padding-top: 20px;
}

.form-label {
    display: inline;
    float: left;
    margin-left: -260px;
    width: 240px;
    height: 37px;
    line-height: 37px;
    text-align: right
}

.send_btn {
    background: #ff3f13;
    display: inline-block;
    color: #fff;
    tex-align: center;
    width: 100px;
    height: 36px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 10px;
    border: 0;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.send_btn:hover {
    filter: alpha(opacity=95);
    -moz-opacity: 0.95;
    opacity: 0.95;
}

.btn-large {
    width: 108px;
    background: #ff3f13;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

.btn-large:hover, .btn-large:active {
    color: #fff;
}

.form-item .form-label-b {
    font-weight: 700
}

.form-text {
    border: 1px solid #dedede;
    width: 202px;
    height: 17px;
    line-height: 17px;
    padding: 9px;
    font-size: 14px;
    _margin-left: -3px
}

.form-text:focus {
    border-color: #229bf9
}

.text-input-refer {
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 1px;
    height: 32px;
    vertical-align: middle
}

.form-checkbox {
    vertical-align: middle;
    margin-right: 5px
}

.form-item select {
    font-size: 16px
}

.err-input {
    border-color: #ff3f13
}

.form-item-uncode {
}

.form-item-uncode .form-label, .form-item-uncode .form-text {
    display: none
}

.form-item-checkcode {
}

.checkcode-text {
    width: 82px
}

.checkcode-text:disabled, .disabled {
    background: #ededed
}

.checkcode-container {
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 215px;
    vertical-align: middle
}

.form-msg {
    padding: 10px 0 20px 100px
}

.form-item-msg {
    line-height: 18px;
    font-size: 12px
}

.form-item .tb-select {
    border-right: 1px solid #ccc
}

.form-item .mobile-input {
    width: 200px;
    height: 25px;
    font-size: 12px;
}

.mobile-text {
    position: relative
}

.mobile-text .send_btn:focus {
    color: #ffffff;
}

.mobile-text .mobile-text-code {
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 60px;
    height: 35px;
    line-height: 35px;
    background-color: #ededed;
    color: #999;
    text-align: center;
    position: absolute;
    left: 1px;
    top: 1px
}

.mobile-text select {
    float: left
}

/* 填写账号信息 */
.form-title {
    padding: 10px 0 10px 260px;
    line-height: 36px;
    zoom: 1
}

.form-title .form-label {
    font-weight: 600;

}

/* 注册成功页 */
.content_in {
    width: 1125px;
    margin: 0 auto;
}

.content_in .form-label {
    width: 375px;
    float: left;
}

.form-item {
    font-size: 14px;
}

.user_name {
    color: #ff3f13;
    font-weight: 600;
}

.binds {
    width: 750px;
    margin: 100px auto;
}

.bind_app {
    float: left;
    width: 250px;
}

.bind_logo {
    width: 80px;
    height: 80px;
    float: left;
}

.bind_logo img {
    height: 50px;
    padding: 15px;
}

.bind_other {
    float: left;
    width: 150px;
    height: 80px;
    text-align: center;
}

.bind_title {
    font-size: 12px;
    color: #333333;
    text-align: center;
    line-height: 40px;
}

.bind_btn {
    display: block;
    width: 70%;
    margin: 0 auto;
    background-color: #FF4000;
    border-radius: 3px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bind_btn:hover {
    background-color: #d93700;
}

.send-sms-btn {
    position: absolute;
    top: 4px;
    right: 50%;
    margin-right: 10px;
}


/******注册协议*******/
.protocol{color:#38f; cursor: pointer;}
.protocol-con{width:100%;height:500px;overflow-y:scroll;}
.protocol-con h4{width:100%;height:30px;line-height:30px;font-weight:bold;font-size:14px;margin:5px 0;}
.protocol-con h5{width:100%;height:30px;line-height:30px;font-weight:bold;font-size:12px;margin:5px 0;}
.protocol-con p{width:100%;line-height:22px;font-size:12px;font-weight:200;text-align:justify;}
.protocol-con p strong{font-weight:200;}
.protocol-tools{width:100%;height:36px;text-align:center;padding:20px 0 1px 0;border-top:1px solid #ddd;margin:10px 0 0 0;}
.protocol-tools input{width:150px;height:30px;line-height:30px;background:#ff3f13;color:#fff;border:0 none;}


/*****新增邮箱注册样式*****/
.register-email{width:108px;height:34px;background:#5bc0de; border-radius: 4px;text-align:center;line-height:34px;border:1px solid #46b8da;display:block;float:left;padding: 6px 12px;margin:0 10px 0 0;color:#fff;}