.setActivity{
	margin:20px 0px 0px 0px;
}
.setActivity table tr .act-condition div{
	margin:10px 0px 0px 0px;
}
.setActivity table tr .act-condition div .fullMinus{
	display: inline-block;
	margin-right: 22px;
}
.setActivity table tr .act-condition div .minusInput{
	display: none;
	margin-right: -34px;
}
.setActivity table tr .act-condition div .sendPoint{
	display: inline-block;
	margin-right: 22px;
}
.setActivity table tr .act-condition div .pointInput{
	display: none;
	margin-right: -46px;
}
.setActivity table tr .act-condition div .freeInput{
	display: inline-block;
	margin-right: 22px;
}
.setActivity table tr .act-condition div .sendGift{
	display: inline-block;
	margin-right: 22px;
}
.setActivity table tr .act-condition div .giftAll{
	display: none;
	margin-right: 22px;
}
.setActivity table tr .act-condition div .sendBonus{
	display: inline-block;
	margin-right: 10px;
}
.setActivity table tr .act-condition div .bonusAll{
	display: none;
	margin-right: 12px;
}
.setActivity table tr .act-condition div span select{
	width: 150px;
}
.setActivity table tr .act-condition div span .add-gift{
	color: blue;
	font-weight: bolder;
	font-size:small; 
	border-bottom: 1px solid blue;
	margin-left: 10px;
}
.s_commont_list em.required {
    color: #f00;
    font-size: 16px;
    vertical-align: middle;
}
.s_commont_list .condition-title{
	margin:10px 0px 0px 10px;
}
.s_commont_list h3{
	font-size: medium;
	font-weight: bolder;
}
.s_commont_list #time_index{
	width: 200px;
}
.s_commont_list .add-goods-div{
	margin:20px 0px 0px 0px;
}
.s_commont_list .add-goods-div .add-goods-title{
	margin:10px 0px 0px 20px;
}
.s_commont_list .add-goods-div .goodsTable{
	display: none;
	margin:20px 0 0 20px;
}
.s_commont_list .add-goods-div .goodsTable .goodsAll{
	display: block;
}