@charset "UTF-8";
/* ============================================================================ */
body {
  background-color: #fff;
}

.eui-save-button button {
  background-color: #ff002d;
}

/* 【修改资料、修改密码】 */
.member-info {
  width: 100%;
  border-top: 1px solid #f6f6f6;
  padding: 1rem 0px 0px 0px;
}

.info-box-same {
  position: relative;
  padding: 0.5rem 0rem;
  margin: 0.5rem 5%;
  display: -webkit-box;
  box-align: center;
  -webkit-box-align: center;
  border-bottom: 1px solid #ddd;
  width: 90%;
  overflow: hidden;
}
.info-box-same p {
  -webkit-box-flex: 1;
  box-flex: 1;
  width: 50%;
  display: block;
  font-size: 14px;
}
.info-box-same .input_text {
  -webkit-box-flex: 1;
  box-flex: 1;
  width: 100%;
  display: block;
  border: 0px none;
}

.security .send-mobile-validate {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 88%;
  background-color: #ff002d;
  outline: none;
  border: none;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
}
.security .send-mobile-validate.disabled {
  background-color: #ccc;
}
.security .img-validate-img {
  position: absolute;
  right: 0;
  top: 0;
  max-height: 100%;
  width: 70px;
  height: 88%;
}
.security .validate-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.security .validate-button button {
  width: 80vw;
  height: 7vh;
  background-color: #ff002d;
  color: #fff;
  text-align: center;
  line-height: 7vh;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.security-navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
  color: #333;
  width: 100%;
  height: 43px;
  line-height: 43px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #e2e2e2;
}

.security-navigator-left,
.security-navigator-right {
  width: 25%;
  height: 100%;
  overflow: hidden;
}

.security-navigator-left .item {
  width: 100%;
  height: 100%;
}
.security-navigator-left .item.dark {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABRklEQVRYR+2WwQ2DMAxF7TMcukG5g9Ru0DJCN+wGHaF0g1byAIzQAzm7CgIJIUJsQ8UFjgHlv/x8GyNs/ODG+rAD7A4EHcjz/I6Ix6ZpbnVdfy1hzbLskKbpAwC+RHSb2iMIUBRFBQAXZn4750othBdPkuSJiGcAeBHRVQXQbVAh4kkLMRRn5o9z7ho6wGwILRAace9ItAo0EFpxEYD/SAJhERcDxCCs4iqAEIRf79MeC5yqCkJ1P76O9hSIZ4u42oEeagjh16ziSwH6JuMBTM3KBDAOXHcF6mbVuxntA8MsTKW9C6GpY6ocmCs1SZ8IhVrkgKTOrRBRAIn4VHVIgyn5GbVpl5aa1okggObk4/vVQEgGktn/uaRjAkBFRKWqFfuJiJkPc8NEbEwbOOFHMt1EFNt8rffRKlhLaFEf+CfE7sDmDvwAeP+PMCwEJrIAAAAASUVORK5CYII=") no-repeat center;
  background-size: 20px 20px;
  background-position-x: 5px;
}

.security-navigator-middle {
  width: 70%;
  text-align: center;
  font-weight: bold;
}

.security-navigator-right {
  position: relative;
  font-size: 14px;
  line-height: 43px;
  text-align: center;
}

.img-validate-form {
  position: absolute;
  right: 0;
  top: 0;
  max-height: 100%;
  width: 70px;
  height: 88%;
}

/* my-info
 ============================================================================ */
.my-info {
  margin-top: 15px;
  background-color: #ffffff;
}
.my-info .sub-eui-item {
  position: relative;
}
.my-info .img-head img {
  height: 7vh;
  width: 7vh;
  border-radius: 100%;
  border: none;
}
.my-info .update-head-img {
  position: absolute;
  top: 0;
  right: 1.5vh;
  height: 100%;
  opacity: 0;
}
.my-info .sex-select, .my-info .fill-name, .my-info .update-head-img {
  min-width: 20vw;
  justify-content: flex-end;
}
.my-info .user-date {
  min-width: 28vw;
  min-height: 3vh;
  border: none;
  outline: none;
  background-color: #ffffff;
}
.my-info .user-date.error {
  background-color: #ff002d;
  color: #fff;
}

/* 我的收藏
 ============================================================================ */
.my-collect {
  background-color: #fff;
}
.my-collect .collect-nav {
  position: relative;
  width: 100%;
  height: 39px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 14px;
  background-color: #fff;
}
.my-collect .collect-nav .nav-item {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  margin-top: -1px;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  color: #333;
}
.my-collect .collect-nav .nav-item a {
  display: inline-block;
  border-bottom: 1px solid #ffffff;
  line-height: 39px;
}
.my-collect .collect-nav .nav-item.active a {
  color: #ff002d;
  border-bottom: 1px solid #ff002d;
}
.my-collect .collect-nav .nav-hr {
  display: block;
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: #e3e3e3;
  top: 10px;
  left: 50%;
}
.my-collect .collect-content {
  position: relative;
}
.my-collect .collect-content .content-item {
  position: relative;
  display: none;
  width: 100%;
}
.my-collect .collect-content .content-item.show {
  display: block;
}
.my-collect .goods-item {
  position: relative;
  display: flex;
  height: 120px;
  padding: 0 10px;
  margin-top: 15px;
}
.my-collect .goods-item .goods-img {
  width: 28vw;
  margin-right: 2vw;
  align-self: center;
}
.my-collect .goods-item .goods-img .img-goods-img {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.my-collect .goods-item .goods-detail {
  width: 60vw;
  border-bottom: 1px solid #e3e3e3;
}
.my-collect .goods-item:last-child .goods-detail {
  border: none;
}
.my-collect .goods-item .goods-detail-name {
  font-size: 14px;
  margin: 10px 0;
  overflow: hidden;
  max-height: 38px;
  max-width: 60vw;
}
.my-collect .goods-item .goods-detail-price {
  font-size: 12px;
  color: #ff002d;
  margin: 5px 0;
}
.my-collect .goods-item .goods-detail-price em {
  font-style: normal;
}
.my-collect .goods-item .goods-detail-price .big-price {
  font-size: 16px;
  font-weight: bold;
}
.my-collect .goods-item .goods-detai-buttons .btn-item {
  display: inline-block;
  margin-right: 10px;
  width: 80px;
  line-height: 20px;
  color: #333;
  text-align: center;
  border: 1px solid #888;
  font-size: 12px;
}
.my-collect .store-item {
  position: relative;
  display: flex;
  padding: 0 10px;
  margin-top: 15px;
}
.my-collect .store-item .store-item-banner {
  width: 60%;
  height: 78px;
  border: 1px solid #e3e3e3;
  background-color: #fff;
}
.my-collect .store-item .store-item-banner .img-store-banner {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.my-collect .store-item .store-item-tools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 80px;
}
.my-collect .store-item .store-item-tools .store-item-name {
  display: block;
  height: 30px;
  color: #333;
  text-align: center;
  line-height: 30px;
}
.my-collect .store-item .store-item-tools .store-item-btns {
  display: flex;
  justify-content: space-around;
}
.my-collect .store-item .store-item-tools .store-item-btns a {
  display: inline-block;
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #686868;
}

/* 我的优惠券
 ============================================================================ */
.my-buons .buons-nav {
  position: relative;
  width: 100%;
  height: 39px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 14px;
  background-color: #fff;
}
.my-buons .buons-nav .nav-item {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  margin-top: -1px;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -ms-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  color: #333;
}
.my-buons .buons-nav .nav-item a {
  display: inline-block;
  border-bottom: 1px solid #ffffff;
  line-height: 39px;
}
.my-buons .buons-nav .nav-item.active a {
  color: #ff002d;
  border-bottom: 1px solid #ff002d;
}
.my-buons .buons-nav .nav-hr {
  display: block;
  position: absolute;
  height: 20px;
  width: 1px;
  background-color: #e3e3e3;
  top: 10px;
  left: 50%;
}
.my-buons .bouns-content {
  position: relative;
}
.my-buons .bouns-content .content-item {
  position: relative;
  display: none;
  width: 100%;
}
.my-buons .bouns-content .content-item.show {
  display: block;
}
.my-buons .eui-bonus, .my-buons .unavailable {
  margin: 10px;
}
.my-buons .eui-bonus01 {
  background: radial-gradient(transparent 0, transparent 5px, #ff002d 5px);
  background-size: 15px 15px;
  background-position: 9px 3px;
}
.my-buons .eui-bonus01:before {
  background-color: #ff002d;
}

/* 评论商品
 ============================================================================ */
.goods-comment {
  padding: 15px;
  background-color: #ffffff;
}
.goods-comment h2 {
  line-height: 30px;
  border-bottom: 1px dotted #8d8d8d;
  font-size: 16px;
}
.goods-comment .item-content, .goods-comment .content-comment {
  margin-top: 10px;
}
.goods-comment .score-comment {
  margin-top: 10px;
}
.goods-comment .grade-comment {
  padding-bottom: 10px;
}

.score-comment-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.score-comment-content .item {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  margin: 5px 0 5px 15px;
}
.score-comment-content .title-item {
  width: 80px;
  text-align: center;
  line-height: 20px;
  word-spacing: 5px;
}
.score-comment-content .content-item {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.score-comment-content .content-item .comment-star {
  display: block;
  width: 20px;
  height: 20px;
}
.score-comment-content .content-item .comment-star.on {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACPklEQVRYR8WXz3HTQBTG35MiJ4dAnBszQYYcYKRTnApwOkgHhAowFeASTAVABUAFKBUgTgpcSGxnhqNILolW0cesE3tkI61W6xHxzeO3+/32/TfTPX/4nvVpJYAT1wmJCd5I7Js+xBggcp0jZn4vhQG88sfigwmEOUCndcpET6aiQOCNxcF/A/jh2odg+1NeEFl24E/SoC6EkQci1wmY+cWCmKEXagNEj9d6bFlfi15q3WD/+bkI63ihPkDR6+8UAXz0x+KoMYCfO043s/mbSgBJsuv/plNdCC0P/GpTO91c27thq09Mh8rLQZ9tZMNnk/RYB2IBYBpfxhaz3QWoS4Q2Mfd0Liq2QUwgmRMhM8dWlgVpmp7lPTQHiPJ1ba6oeRLhrHvOAW7bKu9p3rCSGYBjfyymnp0DyDhfP3CCxiGA7+uXorcbU7wAIL80DrEk/g9AoxAF4oUAjUCUiJcCzCCuHrbC+cQzTTuFuBJA/njb+Sgg4i0j/QrxSgBpUDj5NGl0ZkNlK16lQeXrvYy5EuCk04LmgwvMEHsjsa06rwRQzX5dqPWLZHvWdIrOqAFyi6eu4LJd1aqmBui0Bkz0tkwcRGcsJ6aySvDGG4mhUQ6UVwD+gHi4cZFML77edAZk8etCkQzvvInomwEUjGhZWhuXor8c1+gRPSXHGTDzy7xYVSUoQ7BQAaAvEEm/at2SiUvMEuRua1ZXghrAdUIQxQQM6u788r9DxvaQgdgbi65RCEwzv865ykZU5zIT27+VcRIwLVhyBQAAAABJRU5ErkJggg==") no-repeat center;
  background-size: 80%;
}
.score-comment-content .content-item .comment-star.off {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAC2UlEQVRYR8VXy3EaQRDtXti9CkUgHIGlCAwZyBHYisBwoKc4GZ2oGQ5ABMYRGEUglAGKwCgC4+vC0q7emsEDBfsB2ZoLFPvp169fdz8Q3vjgG8eHswBoreeIyER0c2oiJwMwxnwGgG828B0RTU4BcQ6ABQBc2aAzImr+NwBa61tE/AEAL8xcQ8QLRGx2Op1ZWRAnMWCMkUAfAOCOmeuI+BUATmKhNIDBYNBg5kdm/h1FUV0yjuN4ISwAwA0RzcuwUBqAy56Z75VSPQmmte4JC8z8XSkl4ix8SgHYz77dbi8lUr/fr1cqlZ/yPUmSd91uVwRa6JQCoLWeIOInP3sXxbs2RcQRET0VQbADQDLcbDZXQRDUmbkBANfMPHZUG2P4WJY+C15gYWjOzPMgCJbMPEuS5MVnaAvAGOP3tQ/+gYhuba3TT6XU9FB2tj1FAzXbJcdImLvpuQVgx+p7+8QYEafr9XpRpp770YSVarVa32w218KmlM/e80REwvDfXTAcDmtxHM8QUUDMwzBsOpEVqWXWPfLu1Wr1aEv6HEVRw717RwP/AkRW8B0GXAavCSIv+EEA8uNrgCgS/CiAc0EUDZ4JQC4aY2QOiDAvmLmtlBoVEaQ3mncEd+jZ3Enozf6Px/p//8Va6xYiDovshiIA3IAqvOnczgCAbb8fY64IgHT8ElHuvX4nrVarXwCwJKLLrLJlvtTbfs9KKZlmO0d8ISIuDjkhrfVStBOG4WXWQMsE4BnP7T4QBBaYuKB0nIobAoC2b0acdvKsWiYAT82p+bAbT5ywC7z1hBbIJEmSe9kf3nrO7J48Brbez2631O2IHQOAURRFaVvGcSyqF0bkCPUjZpbafwGAMRG1ThLhkRU9DsOwt19XYScIArFmbuO5mJmdkMdA2gH2PCRJ0spbz1Yf4hXFNaeMZHVCngbkr5dQ2ivr+a05kVIsD3WQy6pwb2f18jnX3hzAH9AA2DA1GkpdAAAAAElFTkSuQmCC") no-repeat center;
  background-size: 80%;
}

.grade-comment-content {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.grade-comment-content .comment-grade {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 12px;
  color: #333;
  border: 0 solid;
  border-radius: 3px;
  margin-top: 1px;
}
.grade-comment-content .comment-grade.selected {
  border-width: 1px;
  margin-top: 0;
}
.grade-comment-content .comment-grade .icon-grade {
  display: block;
  width: 25px;
  height: 25px;
}
.grade-comment-content .comment-grade.praise {
  color: #ff002d;
  border-color: #ff002d;
}
.grade-comment-content .comment-grade.praise .icon-grade {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACRUlEQVRYR8WWXU7bUBCFv4ngrRV0BXXfkLBVdlCygsIKSldQuoKmKyisALqCkhUUVtBKNlIfww6MwkOlIqYa/ySxc/FfYmVe7bn3zJlzZ46w4ZAN309nAMqeB1s/gBgejoVJ3KWYTgCU/QMY/AR2s0tjmL7pAqI1AMXbhZe/AK9Ysf6Gh2FbEB0ABFfAezfdei5Ep21asQQg7e12Rq9VlcQVPI5h+wCwvleEDuFxAlsG8ij9USwvhn9D4c9kMdkBIDgBLtpUUfrXxJhro/Tp6bNwe1YHoILiFWClqWMhzFjJuCkfqQRWwc7KV7kPiIXwVR0D2tPlqRoIC213aWDTAPwJyOu+WGjCQI8i1BshOqzRgD8C+dIPA/pViEY1AJI5b6O2jzgWQmN4Fs5RrPShA70TotL+sFfhCGXlaeg4dXkKps/ymVgzC/cw9VybsgLAOrWgQyG6dtVauY7X0wo39TmYWj+wIoiPQnhZ9ZxqAVhyasHkDORds7epN8DoOdobPMM9r2wcUiC+TTFbp4cgb4tg9A7kGvTSdXFqdP7GZSE6ltHiDDBHZIc+fRduc3c0u1cJksVVnu9z1gYfQA2sOSKLJuvYN8dytLyQ1KozRzMD4gKQ2fULkMLMh5QhITTHVT0J869zysWScpMyE1YZQCbYb5klu7d2mJ+s0kJDEZoVf2FL6lMGLpnpiwCUwLSRG9YxTE+aWPRGAOaM5CM63WpFAPunMLDqa59e4xbUPTnFT/QgRLnI6lKWvrdioPXpDRI2DuA/d9nKIQMoRDcAAAAASUVORK5CYII=") no-repeat left;
  background-size: 80%;
}
.grade-comment-content .comment-grade.average {
  color: #f4ea2a;
  border-color: #f4ea2a;
}
.grade-comment-content .comment-grade.average .icon-grade {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACqElEQVRYR8VXTZLSUBD+OhSLgVBClROW4o7gQjyBcIJhTiBzguEGwgkcTyBzAvEEZk4gLCTsJi7JWAUWGbGkpK03BHiE/A2gsKEqL6/7e+/r/voL4cg/OnJ+xAIwuStWiJXPRGimT/utMNA8KmTFOuWscZzDxQMwLHWIcOYG7CaS8/OT3MCSEzh2sQ4olwDKDIwJVFW1r90oEJEApqNi4c9MuZUDyQkc+0UZ4A8i8WYyNlTNrO4NwLH1NkBvvIEECIVwxYxmUJJ08mcuiorQGxB83s9So6hTBK0zzauZ04ERtj8UgHOnN8D07ngAhroFomc7A2C0Mvl+IEUP3RIU3C2uL7smX+5bFCyLbugC3E0kcSN3UCCAybDUJMLbfQH47193SMgN+Ff/IQAx41Mm36+FUjCxdYNArw+RcKuFpe4IpuAfAWDwTUYzK0tQ/70GvNoQCOD+u17jOX08JAXe04fWgFic2LoYKk8OB4JeeQdUqBIeshU5QJTizAKh5S/3uwW+VjWz7hcj3jj+TcbukhycPLIGVnI6KmSd2Unn8brA71XNbOw8Db0bHbskND2aDuZvlEAj/dTsRFEXSYEcQFLHnhgsYFQkanrMsJQEt+MkjhQiP+QT1xv69XPUSYPWVzew6nlmCwRhOLuAci337dKgiBGb0fq5sFFOxGfM7EouPfyrWn/rxlcPnKFu8SJxeVN82GDilrBWmx5hW1Rc+y4clGxQewweg8nwMych47hYB1NzzfH8QtUGbQF08Wyzwl1bLtwxxLgVtZBKTI29TKkIJrtiUvicGQXhE2UalnODwT9AXIsyojJ1sbpALj41Oa2tnfL8Ip381XFmqVsCssDilh5TkLEAbOuBfgXQJZgtNW8+Fx8v4h3v11IcIDsBiBM47jtHB/AX8tpFMNB1mFsAAAAASUVORK5CYII=") no-repeat left;
  background-size: 80%;
}
.grade-comment-content .comment-grade.bad {
  color: #707070;
  border-color: #707070;
}
.grade-comment-content .comment-grade.bad .icon-grade {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACSklEQVRYR8WXjVHbQBCF31WQ0AFUkKQCSAUkFYQOslQQpwK9DgIVxFQAdEAqgBKgAmU+cvacbUknE9m+GY9mpLvdd2/f/jjpwCsd2L9GA4iIL5JOJX3sAP2UUrpr2/aP7YdtLlUFEBEzSd8lvR9p+FnSPKU0b5rmpnamF0BE4PC3pLOakYHvMDNrmua6b88QgCtJ3/7DeXn0SdKl7fm6vU4AEcGtbydyXpqx7cvyRR8AkJ7vAAAmP5VC7QPQ7sj5ve0VTW0A2CH9L6SwbfSwXPsCgPOzrhqxLwCfbd91hXVfGqA4AWKjSvYB4MC7iYXYCWLfaYgASUPAvK4+ACHpR/4+NRPXti9qAI4lPVI+JTUThwJzJ4t0HOoF0EU/4PlrQhD3ki7GAICmxvZRngUAs004YK9U/UMZ+8EQ8DG3Y24ftq8igrAAgqFkzKL7ubZxcCCJCAyc2z5ZGIoIBMqQUmOjt/hUu2HhjKEEFmblbTI7AOHXBeTF9qgJapuRDOUu87cIE7MiQD4UN/tpG5aqqwogO0JMj7a/9lnMrNBqGVohbAVs37klgCyyxQh2U9btiMAozWQlFNXr/RPzcUrptG1bRMyiEC1b8joARMdG6FyZ43IqMqSuTDQDjMAG1ZQn7RgWYYWs2gRQGspsEEMYIfVIqeecFbzr7GyFLnCMLpiGCUfvf4VaGi6opyzjFBAAYl7cAJF1wDB7lKtd5wwwOg3zjQABG8T/9SZ9ILJW2Eup3U6EYwS1Fib0QnmFkTevUWn4ZusjDh4cwF9SxPghYQGxfgAAAABJRU5ErkJggg==") no-repeat left;
  background-size: 80%;
}

.content-comment-content .comemnt-text {
  width: 100%;
  height: 160px;
  resize: none;
  background-color: #fff;
  border: none;
  outline: none;
  margin-top: 10px;
  font-size: 14px;
}

.eui-save-button button {
  background-color: #ff002d;
}

/* 待评论
 ============================================================================ */
.wait-comment {
  padding: 10px;
}

.wait-comment-items {
  position: relative;
}
.wait-comment-items .item {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
}
.wait-comment-items .item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.wait-comment-items .img-wait-comment {
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.wait-comment-items .img-wait-comment .img-wait-comment-img {
  width: 100%;
  height: 100%;
  border: none;
}
.wait-comment-items .other-wait-comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 170px;
  margin-left: 10px;
}
.wait-comment-items .other-wait-comment .name-wait-comment {
  font-size: 14px;
}
.wait-comment-items .other-wait-comment .peice-wait-comment {
  color: #ff002d;
  font-size: 16px;
}
.wait-comment-items .other-wait-comment .botton-wait-comment {
  width: 70px;
  height: 20px;
  border: 1px solid #999;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #333;
  border-radius: 2px;
}

/* 我的评论
 ============================================================================ */
.my-comment {
  position: relative;
  font-size: 14px;
}

.my-comment-items {
  padding: 0;
}
.my-comment-items .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
  margin: 15px 0;
  border-bottom: 1px solid #e2e2e2;
}
.my-comment-items .item .goods-info {
  height: 50px;
  line-height: 50px;
  font-size: 12px;
}
.my-comment-items .item .comment-conten {
  font-size: 12px;
  margin-top: 5px;
  word-break: break-all;
}
.my-comment-items .item .comment-images {
  display: flex;
  flex-wrap: wrap;
}
.my-comment-items .item .comment-images .img-comment-images {
  display: flex;
  max-width: 100%;
  max-height: 75px;
  margin-top: 5px;
  margin-right: 10px;
}
.my-comment-items .item .comment-time {
  font-size: 12px;
  color: #a2a2a2;
  margin-top: 5px;
  margin-bottom: 10px;
}
.my-comment-items .item .comment-reply {
  position: relative;
}
.my-comment-items .item .comment-reply .iocn-content-reply {
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  top: -3px;
  left: 15px;
  background-color: #e0e0e0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.my-comment-items .item .comment-reply .content-comment-reply {
  position: relative;
  min-height: 20px;
  background-color: #e0e0e0;
  font-size: 12px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 1px;
  word-break: break-all;
}
.my-comment-items .comment-goods-img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.my-comment-items .comment-goods-img .img-comment-goods-img {
  width: 100%;
  height: 100%;
}
.my-comment-items .comment-goods-name {
  width: 200px;
  height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
