@charset "UTF-8";
/* 店铺相关
 ============================================================================ */
.store-banner img {
  width: 100%;
  max-height: 150px;
}

body .store-bonus {
  border-top: 10px solid #f0f2f5;
  border-bottom: 10px solid #f0f2f5;
}
