.wrap{
    padding-top: 0;
}
.wrap .header .l-navFF {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    padding: 10px 0 9px;
    width: 100%;
    height: 26px;
    line-height: 26px;
    max-width: 750px;
}
.wrap .header{
    border: none;
    color: #fff;
}
.tabBar{
    width: 100%;
    max-width: 1200px;
    height: 50px;
    background: #fff;
    border: 1px solid #F2F2F2;
    position: fixed;
    bottom: 0;
}
.tabBar ul{
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
}
.tabBar ul li{
    text-align: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    line-height: 50px;
}
.tabBar ul li:nth-child(1){
    background: url(./images/tabBar2.png) center 5px no-repeat;
    background-size:25px 25px ;
}
.tabBar ul li:nth-child(2){
    background: url(./images/tabBar1.png) center 5px no-repeat;
    background-size:25px 25px ;
}
.tabBar ul li:nth-child(3){
    background: url(./images/tabBar3.png) center 5px no-repeat;
    background-size:25px 25px ;
}
.tabBar ul li span{
    display: inline-block;
    margin-top: 15px;
}
.header section:nth-child(2) {

    color: #fff;
}
.wrap .header .iconsFF{
    display: inline-block;
    width: 12px;
    height: 21px;
    background: url(css/img/leftFFF.png) top left no-repeat;
    background-size: 12px 21px;
}
.titlebg img{
    width: 100%;
    height: auto;
}
.content ul li{
    margin-top: 20px;
    width: 18%;
    padding:0 3.5%;
    float: left;
}
.content ul li span img{
    width: 100%;
    height: auto;
}
.content ul li span{
    display: block;
}
.content ul li span:nth-child(2){
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    text-align: center;

}
.txtAd{
    height: 1.867rem;
    line-height: 1.867rem;
    margin: 0 0.222rem 0 0;
    font-size: 0.578rem;
    border-bottom: 1px solid;
    border-bottom-color: rgba(216,216,216,0.5);
    overflow: hidden;
}
.sec {
    width: 1rem;
    height: 1rem;
    float: left;
    margin: 0 10px 0 10%;
}
.sec img {
    width: 100%;
    margin: 0;
}
 #scroll_text ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 30px;
    
}
 #scroll_text ul li {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 30px;
    margin-top: 0;
    padding: 0;
}
.sec img {
    width: 100%;
    margin: 0;
}
 #scroll_text {
    height: 100%;
    overflow: hidden;
    color: #666666;
    letter-spacing: 0.01px;
}

 #scroll_text ul li {
    overflow: hidden;
    position: relative;
   
}
.index-nav-Five{
    width: 90%;
    padding: 15px 5%;
    height: 50px;
    display: -webkit-box;
    display: box;
    display: -moz-box;
    background: #FFFFFF;
    border-bottom: 2px solid #f2f2f2;
}
.index-nav-Five .navList {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    text-align: center;
    line-height: 90px;
    font-size: 13px;
}
.index-nav-Five .navList:nth-child(1) {
    background: url(./images/sy3.png) center top no-repeat;
    background-size: 30px 30px;
}
.index-nav-Five .navList:nth-child(2) {
    background: url(./images/sy4.png) center top no-repeat;
    background-size: 30px 30px;
}
.index-nav-Five .navList:nth-child(3) {
    background: url(./images/sy1.png) center top no-repeat;
    background-size: 30px 30px;
}
.index-nav-Five .navList:nth-child(4) {
    background: url(./images/sy2.png) center top no-repeat;
    background-size: 30px 30px;
}
.index-nav-Five .navList:nth-child(5) {
    background: url(./images/sy5.png) center top no-repeat;
    background-size: 30px 30px;
}
.index-nav-Five .navList a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.index-title {
    background: url(./images/titlrBg.png) 10px center no-repeat;
    background-size: 17px 20px;
    padding: 10px 4% 10px 40px;
    font-size: 18px;
    border-bottom: 1px solid #f2f2f2;
}
.index-content{
    padding: 10px 5% 50px 5%;
}
.index-content .index-list1 p {
    margin-bottom: 15px;
    color: #333;
}
.index-content .index-list1 p img{
    width: 32%;
    height: auto;
    float: left;
    margin-right: 2%;
}
.index-content .index-list1 p img:nth-child(3){
    margin-right: 0;
}
.index-content .index-list2 ul li{
    padding: 15px 0;
    border-bottom: 1px solid #f2f2f2;
}
.index-content .index-list2 ul li .index-txt{
    float: left;
    width: 55%;
}
.index-content .index-list2 ul li .index-txt p{

    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px;
    overflow: hidden;
}
.index-content .index-list2 ul li .index-txt span{
    font-size: 12px;
    border: 1px solid #dcdcdc;
    padding: 1px 2px;
    border-radius: 5px;
    color: #dcdcdc;
    display: inline-block;
    margin-top: 20px;
}
.index-content .index-list2 ul li .index-img{
    width: 40%;
    float: right;
}
.index-content .index-list2 ul li .index-img img{
    width: 100%;
    height: auto;
}