
.slideshow {
    text-align: center;
}

/* 说明信息
 ============================================================================ */
.slide_intro {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #c09853;
    margin: 10px auto;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: left;
}

.slide_intro ul {
    margin-bottom: 10px;
}

.slide_intro ul li {
    margin: 4px 0;
}

.slide_intro ul li b {
    color: #b22d00;
}

.slide_tool {
    width: 100%;
    overflow: hidden;
}

/* 幻影灯片设置
 ============================================================================ */
.flex-container a:active, .flexslider a:active {
    outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flexslider {
    width: 100%;
    clear: both;
    margin: 5px 5px;
    margin: 0 auto 5px auto;
    padding: 0;
}

.flexslider .slides>li {
    display: none;
}

.flexslider .slides {
    height: 500px;
    overflow: hidden;
}

.flexslider .slides img {
    max-width: 100%;
    height: 500px;
    display: block;
    margin: 0 auto;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

.no-js .slides>li:first-child {
    display: block;
}

.flexslider {
    background: #fff;
    position: relative;
    zoom: 1;
}

.flexslider .slides>li {
    position: relative;
}

.flex-container {
    zoom: 1;
    position: relative;
}

.flex-direction-nav li a {
    text-indent: -9999px;
    background-color: transparent;
    display: block;
    width: 36px;
    height: 36px;
    padding: 0;
    margin: -8px 0 0 0;
    position: absolute;
    top: 45%;
    cursor: pointer;
    opacity: 0.3;
    filter: alpha(opacity = 30);
}

.flex-direction-nav li a:hover {
    opacity: 0.9;
    filter: alpha(opacity = 90)
}

.flex-direction-nav li .next {
    font-size: 0px;
    line-height: 0;
    width: 0px;
    height: 0px;
    border: 16px solid;
    border-color: transparent transparent transparent #333;
    right: 0px;
}

.flex-direction-nav li .prev {
    font-size: 0px;
    line-height: 0;
    width: 0px;
    height: 0px;
    border: 16px solid;
    border-color: transparent #333 transparent transparent;
    left: 0px;
}

.flex-direction-nav li .disabled {
    opacity: .3;
    filter: alpha(opacity = 30);
    cursor: default;
}

.flex-control-nav {
    width: 100%;
    bottom: 5px;
    *bottom: 5px;
}

.flex-control-nav li {
    margin: 0 0 0 9px;
    _margin-left: 4px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-nav li:first-child {
    margin: 0;
}

.flex-control-nav li a {
    width: 10px;
    height: 10px;
    line-height: 10px;
    display: block;
    background-color: #EEE;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 5px;
}

.flex-control-nav li a:hover {
    background-color: #FC0;
}

.flex-control-nav li a.active {
    background-color: #F60;
    cursor: default;
    box-shadow: 1px 1px 1px #CC3300 inset;
}

.goods_images {
    margin-top: 30px;
    border-top: 1px solid #eee;
    padding-top: 15px;
    clear: both;
    display: block;
    font-size: 0;
    overflow: hidden;
}

.goods_images li.normal {
    display: inline-block;
    letter-spacing: normal;
    padding: 14px;
    position: relative;
    vertical-align: top;
    width: 162px;
    word-spacing: normal;
    z-index: 1;
}
#cloning li.normal{
	display: inline-block;
    letter-spacing: normal;
    padding: 14px;
    position: relative;
    vertical-align: top;
    width: 162px;
    word-spacing: normal;
    z-index: 1;
}

.goods_images li .picture {
    background-color: #fff;
    border: 1px solid #f5f5f5;
    display: table-cell;
    height: 100px;
    line-height: 0;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 160px;
}
#cloning li .picture {
    background-color: #fff;
    border: 1px solid #f5f5f5;
    display: table-cell;
    height: 100px;
    line-height: 0;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 160px;
}

.goods_images li .picture img {
    width: 142px;
    height: 80px;
}
#cloning li .picture img {
    width: 142px;
    height: 80px;
}

.goods_images li .url label {
    color: #777;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}
#cloning li .url label {
    color: #777;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}

.goods_images li .url input {
    background-color: #fff;
    display: inline-block;
    font: 12px/20px Arial;
    height: 20px;
    outline: 0 none;
    padding: 4px;
    vertical-align: top;
}
#cloning li .url input {
    background-color: #fff;
    display: inline-block;
    font: 12px/20px Arial;
    height: 20px;
    outline: 0 none;
    padding: 4px;
    vertical-align: top;
}

.upload_btn {
    clear: both;
    display: block;
    height: 30px;
    margin: 10px 0;
}

.upload_btn {
    font-size: 12px;
}