/* 公共样式区
 ============================================================================ */
html body select {
    width: 100px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
    box-sizing: content-box;
}
html body .app-wappler select {
    padding: 0;
    cursor: pointer;
}
html body .app-wappler select:focus {
    border: 1px solid rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

body {
    background-color: #f2f2f2;
}

html body table th,
html body table td {
    vertical-align: middle;
}

/* 侧边栏
 ============================================================================ */

.app-sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-sidebar .main-sidebar {
    float: left;
    position: relative;
    width: 90px;
    height: 100%;
    background-color: #444;
    overflow-y: auto;
}

.app-sidebar .app-logo {
    width: 100%;
    height: 60px;
    text-align: center;
}

.app-sidebar .app-logo img {
    width: 32px;
    height: 32px;
    margin-top: 14px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.app-sidebar .list-main-sidebar {
    overflow: hidden;
}

.app-sidebar .list-main-sidebar li {
    width: 100%;
    height: 36px;
    margin-bottom: 16px;
    list-style: none;
    cursor: pointer;
    background-color: #444;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.app-sidebar .list-main-sidebar li:hover {
    background: #666666;
}

.app-sidebar .list-main-sidebar li.active {
    background: #F8F8F8;
    color: #333333;
}

.app-sidebar .list-main-sidebar li span {
    font-size: 14px;
    line-height: 36px;
    color: #cacaca;
    padding-left: 20px;
}

.app-sidebar .list-main-sidebar li a {
    font-size: 14px;
    color: #cacaca;
    line-height: 36px;
    padding-left: 5px;
}

.app-sidebar .main-sidebar .unique-list-main-sidebar {
    background-color: #535353;
}

.app-sidebar .user-menu {
    position: fixed;
    width: 90px;
    height: 50px;
    line-height: 50px;
    background-color: #535353;
    bottom: 0;
}

.app-sidebar .user-menu .user-name {
    line-height: 30px;
    display: block;
    width: 90px;
    height: 30px;
    margin-top: 10px;
    color: #e5e5e5;
    font-size: 12px;
    overflow: hidden;
    text-align: center;
}

.app-sidebar .user-info-box {
    background: #fff;
    position: absolute;
    display: none;
    bottom: 45px;
    left: 10px;
    color: #333;
    width: 145px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.4);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.4);
}

.app-sidebar .user-menu .user-info-box.show {
    display: block;
}

.app-sidebar .app-spec {
    display: block;
    position: absolute;
    left: 25px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ffffff;
}


.app-sidebar .user-info-meta {
    padding: 10px 20px;
    line-height: 24px;
    background-color: #f8f8f8;
    border-radius: 2px 0 0 2px;
    font-size: 12px;
}

.app-sidebar .user-info-select {
    padding: 10px 0;
    line-height: 30px;
}
.app-sidebar .user-info-select a {
    display: block;
    color: #666;
    padding: 0 20px;
    line-height: 30px;
    font-size: 12px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.app-sidebar .user-info-select a:hover {
    background-color: #3283FA;
    color: #fff
}

 /* 二级菜单
  ============================================================================ */

.app-sidebar .lower-sidebar {
    float: left;
    width: 110px;
    height: 100%;
    background-color: #ffffff;
}

.app-sidebar .title-lower-sidebar {
    width: 90px;
    height: 49px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 49px;
    border-bottom: 1px solid #f2f2f2;
}

.app-sidebar .list-lower-sidebar {
    padding: 13px 10px;
    width: 90px;
}

.app-sidebar .list-lower-sidebar li {
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin-bottom: 14px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
}

.app-sidebar .list-lower-sidebar li.active {
    background: #f8f8f8;
}

.app-sidebar .list-lower-sidebar li a {
    color: #666;
    display: block;
    padding: 0 15px;
    font-size: 12px;
}

/* 顶部导航
 ============================================================================ */
.app-nav {
    width: 100%;
    height: 48px;
    padding: 0 200px;
    position: fixed;
    border-bottom: 1px solid #f2f2f2;
    background-color: #ffffff;
    z-index: 998;
    overflow: hidden;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.app-nav .list-nav {
    margin-left: 10px;
}

.app-nav .list-nav li {
    float: left;
    margin: 0 10px;
    line-height: 44px;
    cursor: pointer;
}

.app-nav .list-nav li.active {
    border-bottom: 2px solid #0099FC;
}

.app-nav .list-nav li a {
    font-size: 12px;
    padding: 0 5px;
    color: #333333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 帮助右侧栏
 ============================================================================ */
.app-help,
.open-help {
    position: fixed;
    top: 0;
    right: 0;
    width: 199px;
    height: 100%;
    border-left: 1px solid #F2F2F2;
    background-color: #ffffff;
    z-index: 999;
    overflow: hidden;
}

.open-help {
    height: 48px;
    color: #999999;
    line-height: 48px;
    border-bottom: 1px solid #f2f2f2;
    opacity: 0;
    z-index: 998;
    cursor: pointer;
}

.open-help a {
    cursor: pointer;
}

.app-help .head-help {
    height: 48px;
    border-bottom: 1px solid #F2F2F2;
    font-size: 14px;
    color: #999999;
    line-height: 47px;
    overflow: hidden;
}

.question-ico {
    margin-right: 5px;
    font-size: 12px;
    margin-left: 20px;
}

.title-help {
    color: #666666;
    font-size: 12px;
    cursor: default;
}

.app-help .close-ico {
    margin-left: 66px;
    font-size: 16px;
    cursor: pointer;
}

.app-help .close-ico:hover {
    color: #bbbbbb;
}

.app-help .body-help {
    height: 100%;
}

.app-help .body-help p {
    height: 20%;
    line-height: 500%;
    font-size: 30px;
    text-align: center;
}

/* 主视区
 ============================================================================ */
.app-wappler {
    padding: 60px 0 1px 210px;
}

.inner-app-wappler {
    margin: 10px;
    padding: 15px;
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    min-width: 1020px;
}

/* 页面tab栏样式
 ============================================================================ */
.app-tab-tools {
    width: 100%;
    height: 33px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    position: relative;
    z-index: 9;
}

.app-tab-tools ul {
    position: relative;
    margin-bottom: -1px;
    z-index: 10;
}

.app-tab-tools ul li {
    float: left;
    background-color: #f8f8f8;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-left: none;
}

.app-tab-tools ul li.active {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
}

.app-tab-tools ul li a {
    display: inline-block;
    min-width: 80px;
    padding: 0 12px;
    color: #333333;
    line-height: 32px;
    font-size: 12px;
}

/* 没有数据样式
 ============================================================================ */
.app-no-data {
    height: 98px;
    border: 1px solid #e5e5e5;
    text-align: center;
}

.app-no-data .a-no-data {
    line-height: 98px;
    font-size: 12px;
    color: #333333;
}

/* 分页样式
 ============================================================================ */

.app-paging-tools {
    height: 50px;
    background-color: #ffffff;
}

.app-paging-tools .demo {
    float: left;
    width: 50%;
}

.app-paging-tools .paging {
    height: 60px;
}

.app-paging-tools .page {
    margin-left: 25%;
    width: 50%;
    display: flex;
    align-items: center;
    margin-right: 55px;
}

.app-paging-tools .paging .page span {
    display: block;
    float: left;
    line-height: 50px;
    font-size: 12px;
    margin-right: 10px;
}

.app-paging-tools .pagination {
    margin-top: 7px;
}

.app-paging-tools .pagination a {
    font-size: 12px;
}
.app-paging-tools .pagination li a {
    font-size: 12px;
}

.app-paging-tools .pagination a.selected {
    background-color: #eeeeee;
    cursor: not-allowed;
    color: #333333;
}

/* 角标
 ============================================================================ */
.app-subscript {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    top: 0;
    right: 0;
    background-color: red;
    line-height: 16px;
    color: #ffffff;
    border-radius: 100%;
    text-align: center;
}


