.return {
    background-color: #ffffff;
}

.return table {
    font-size: 12px;
    color: #333333;
}

.return table thead tr {
    background-color: #f2f2f2;
}

.return table thead tr th {
    border-bottom-width: 0;
}

.return table th,
.return table td {
    text-align: center;
}

/*!* 页面切换工具栏样式
 ============================================================================ *!
.order-top-tools {
    width: 100%;
    height: 33px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    position: relative;
    z-index: 9;
}

.order-top-tools ul {
    position: relative;
    margin-bottom: -1px;
    z-index: 10;
}

.order-top-tools ul li {
    float: left;
    background-color: #f8f8f8;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-left: none;
}

.order-top-tools ul li.active {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
}

.order-top-tools ul li a {
    display: inline-block;
    min-width: 80px;
    padding: 0 12px;
    color: #333333;
    line-height: 32px;
    font-size: 12px;
}*/

/* 没有数据样式
 ============================================================================ */
.no-order {
    height: 98px;
    border: 1px solid #e5e5e5;
    text-align: center;
}

.a-no-order {
    line-height: 98px;
    font-size: 12px;
    color: #333333;
}

/********** 分页 *********/
/*----- tools -----*/

.bottom-tools {
    height: 50px;
    background-color: #ffffff;
}

.demo {
    float: left;
    width: 50%;
}

/*----- paging 分页 -----*/
.paging {
    height: 60px;
}

.page {
    float: right;
    margin-right: 55px;
}

.paging .page span {
    display: block;
    float: left;
    line-height: 50px;
    font-size: 12px;
    margin-right: 10px;
}

.pagination {
    margin-top: 7px;
}

.pagination a {
    font-size: 12px;
    color: #4d90fe;
}

.pagination a.selected {
    background-color: #eeeeee;
    cursor: not-allowed;
    color: #333333;
}