/********商品列表页*******/
.store-goods-list-box {
	width: 100%;
	overflow: hidden;
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	background: #f5f5f5;
	padding: 0px 0px 20px 0px;
}

.menu-list {
	width: 1200px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	margin: 0px auto;
	padding: 10px 0px;
}

.menu-list ul {
	width: 1200px;
	height: 30px;
	line-height: 30px;
}

.menu-list ul li {
	float: left;
	font-size: 12px;
}

.menu-list ul li a {
	color: #757575
}

.menu-list ul li span {
	margin: 0px 10px;
}

.store-goods-search-box {
	width: 100%;
	background: #fff;
}

.store-goods-search-box .store-goods-search {
	width: 1200px;
	margin: 0px auto;
	padding: 18px 0px;
	overflow: hidden;
}

.store-goods-cat {
	width: 1200px;
	overflow: hidden;
	margin: 0px auto;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	padding: 12px 0px;
}

.store-goods-cat h1 {
	float: left;
	height: 30px;
	line-height: 30px;
	font-weight: 200;
	color: #b0b0b0;
	width: 70px;
}

.menu-listbox {
	width: 1000px;
	float: left;
	overflow: hidden;
}

.store-goods-cat ul {
	height: 30px;
	overflow: hidden;
	width: 1200px;
}

.store-goods-cat ul li {
	width: 170px;
	float: left;
	color: #424242;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

.store-goods-cat span {
	float: right;
	height: 30px;
	line-height: 30px;
	display: block;
	width: 130px;
	text-align: center;
	cursor: pointer;
}

.store-goods-search-left {
	float: left;
}

.ncs-array {
	float: left;
	margin: 0px 20px 0px 0px;
}

.ncs-array li {
	border-left: 1px solid #e0e0e0;
	float: left;
	line-height: 27px;
}

.ncs-array li a {
	line-height: 27px;
	color: #555;
	background: url(../../../images/splb.png) no-repeat -15px center;
	display: inline-block;
	width: 28px;
	padding: 0 30px;
}

.ncs-array li a {
	*display: inline /* IE7 */;
}

.ncs-array li a.nobg, .sort-bar .array li.selected a.nobg {
	background: none;
	padding: 0 4px !important;
}

.ncs-array li.selected a {
	font-weight: 700;
	color: #F60;
}

.ncs-array li .selected {
	background-position: 72px center;
	color: #f42424;
	font-weight: bold;
}

.price-search input {
	width: 60px;
	height: 22px;
	line-height: 22px;
	background: #fff;
	border: 1px solid #999;
	padding: 0px 5px;
	float:left;
	display:block;
}

.price-search {
	display: block;
	float: left;
	margin-top: 2px;
	margin-left: 24px;
	_margin-left: 12px /* IE6 */;
	width: 300px;
}
.price-search em{height:24px;line-height:24px;float:left;overflow:hidden;display: block;margin:0px 6px 0 0;}
.price-search i {
	display: block;
	padding: 0 6px;
	height:24px;line-height:24px;float:left;overflow:hidden;
}

.price-search a {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	color: #333;
	cursor: pointer;
	display:block;
	font-family: "Microsoft Yahei";
	height: 22px;

	text-align: center;
	width: 64px;
	float:left;
	margin:0 0 0 10px;
}

.price-search a:hover {
	background-color: #FC0;
	color: #FFF;
}

.store-search-right {
	float: right;
}

.store-search-right input {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #999;
	height: 22px;
	line-height: 22px;
	padding: 0 5px;
	width: 150px;
float:left;
display:block;
overflow:hidden;
}

.store-search-right a {
	background-color: #f5f5f5;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Microsoft Yahei";
	height: 22px;
	line-height: 23px;
	text-align: center;
	width: 64px;
	transition: all 0.4s ease 0s;
	font-size: 12px;
	float:left;
display:block;
overflow:hidden;
}

.store-search-right .ncs_search_mall {
	background: #33a600;
	border: 1px solid #33a600;
	margin:0 10px;
}

.store-search-right .ncs_search_mall:hover {
	background: #399510;
	border: 1px solid #399510;
}

.store-search-right .ncs_search_shop {
	background: #ff6700;
	border: 1px solid #ff6700;
}

.store-search-right .ncs_search_shop:hover {
	background: #f25807;
	border: 1px solid #f25807;
}

.store-all-goods-box {
	width: 1200px;
	margin: 20px auto;
}

.sstore-all-goods {
	width: 1220px;
}

.sstore-all-goods li {
	background: #fff none repeat scroll 0 0;
	float: left;
	height: 395px;
	margin-bottom: 14px;
	margin-right: 14px;
	padding-top: 47px;
	position: relative;
	text-align: center;
	transition: box-shadow 0.5s linear 0s;
	width: 291px;
}

.sstore-all-goods li img {
	height: 230px;
	width: 230px;
	margin: 0px 0px 30px 0px;
}

.sstore-all-goods li h2 {
	width: 260px;
	margin: 0px 15px;
	text-align: centere;
	height: 60px;
	line-height: 25px;
	font-weight: 200;
}

.sstore-all-goods li h3 {
	width: 260px;
	padding: 15px 0px;
	margin: 0px 15px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	font-weight: 200;
	overflow: hidden;
}

.sstore-all-goods li h3 span {
	width: 129px;
	text-align: center;
	border-right: 1px solid #ccc;
	float: left;
	display: block;
	height: 20px;
	line-height: 20px;
}

.sstore-all-goods li h3 span i {
	font-size: 18px;
	color: #ff6700;
	margin: 0px 5px 0px 0px;
	font-weight: 400;
}

.sstore-all-goods li h3 span em {
	font-weight: 200;
	margin: 0px 5px 0px 0px;
}

/********首页**********/
.title-menu-box {
	width: 100%;
	height: 100px;
	background: #fff;
}

.title-menu {
	width: 1200px;
	margin: 0px auto;
	height: 100px;
}

.title-menu .store-name {
	float: left;
	color: #000;
	margin: 0px 20px;
	overflow: hidden;
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	font-size: 28px;
	height: 100px;
	line-height: 100px;
}

.store-menu-list {
	float: right;
}

.store-menu-list li {
	float: left;
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	height: 100px;
	line-height: 100px;
}

.store-menu-list li a {
	color: #666;
	font-size: 14px;
	padding: 0px 20px;
}

.store-top-tools {
	float: right;
}

.max-adv {
	background: #fff none repeat scroll 0 0;
	z-index: 88;
	margin: 0px auto;
	overflow: hidden;
	position: relative;
	width: 100%;

}

.max-adv .flexslider {

	margin-bottom: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.max-adv .flexslider .slides {
	height: 550px;
	margin-bottom: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.max-adv .flexslider .slides li {
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: pointer;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.max-adv .flexslider .slides li a {
	display: block;
	width: 100%;
}

.max-adv .flexslider .flex-control-nav {
	display: none;
}

.max-adv .flexslider .flex-direction-nav {
	overflow: hidden;
	opacity: 0.5;
	filter: alpha(opacity=50);
	width: 950px;
	height: 75px;
	line-height: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 0px 0px 0px -475px;
}

.max-adv .flexslider .flex-direction-nav li a {
	transition: all 0.4s ease 0s;
	display: none;
	overflow: hidden;
	opacity: 0.8;
	filter: alpha(opacity=80);
	display: inline-block;
	width: 45px;
	overflow: hidden;
	height: 75px;
	line-height: 7500;
	overflow: hidden;
}

.max-adv .flexslider .flex-direction-nav li .flex-prev {
	background: url(pre.png) no-repeat left top;
	float: left;
}

.max-adv .flexslider .flex-direction-nav li .flex-next {
	background: url(next.png) no-repeat left top;
	float: right;
}

.store-top-tools {
	float: right;
	margin: 33px 15px 0px 40px;
}

.store-top-tools ul li {
	float: left;
	width: 50px;
	margin: 0px 10px 0px 0px;
	cursor: pointer;
}

.store-top-tools ul li i {
	width: 50px;
	text-align: center;
	display: block;
	height: 20px;
	line-height: 20px;
	color: #666;
}

.store-top-tools ul li span {
	width: 30px;
	height: 30px;
	margin: 0px auto;
	display: block;
	border: 1px solid #ccc;
	border-radius: 30px;
}

.store-top-tools ul .favorite span {
	background: url(themes1.jpg) no-repeat center center;
}

.store-top-tools ul .store-qq span {
	background: url(themes2.jpg) no-repeat center center;
}

.store-top-tools ul .themes-store-more span {
	background: url(themes3.jpg) no-repeat center center;
}

.store-bonus-box {
	width: 100%;
	margin: 20px 0px;
	overflow: hidden;
}

.store-bonus-box ul {
	width: 1200px;
	margin: 0px auto;
	text-align: center;
}

.store-bonus-box ul li {
	background: url(yhq.jpg) no-repeat left top;
	margin: 0px 30px;
	display: inline-block;
	border: 1px solid #dcdcdc;
	height: 218px;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	width: 213px;
	cursor: pointer;
}

.store-bonus-box ul .selected {
	border: 1px solid #000;
}

.store-bonus-box ul li h2 {
	font-family: georgia;
	font-size: 60px;
	font-weight: 500;
	overflow: hidden;
	padding-top: 32px;
	width: 213px;
}

.store-bonus-box ul li p {
	font-family: georgia;
	font-weight: 500;
	overflow: hidden;
	padding-top: 15px;
	width: 213px;
}

.store-bonus-box ul li span {
	font-weight: 500;
	overflow: hidden;
	padding-top: 10px;
	width: 213px;
	display: block;
}

.store-hot-box {
	width: 100%;
	overflow: hidden;
	padding: 20px 0px
}

.store-hot-list {
	width: 1200px;
	margin: 0px auto;
	overflow: hidden;
}

.store-hot-list h1 {
	color: #333;
	font-weight: 200;
	line-height: 58px;
	margin: 0;
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	font-size: 22px;
	margin: 0px 0px 10px 0px;
}

.store-hot-list h1 span {
	font-size: 14px;
	color: #ccc;
	margin: 0px 10px;
}

.store-hot-list h1 a {
	font-size: 12px;
	float: right;
	font-weight: 200;
	line-height: 35px;
	margin: 0px 30px 0px 0px;
	color: #ccc;
}

.store-hot-list ul {
	width: 1220px;
	overflow: hidden;
}

.store-hot-list ul li {
	border-top: 1px solid #ffac13;
	height: 300px;
	padding-top: 39px;
	text-align: center;
	transition: all 0.6s ease 0s;
	float: left;
	width: 220px;
	float: left;
	margin: 0px 20px 20px 0px;
}

.store-hot-list ul li img {
	height: 180px;
	width: 180px;
	margin: 0px auto 20px auto;
}

.store-hot-list ul li h2 {
	width: 180px;
	height: 50px;
	line-height: 20px;
	margin: 0px auto;
}

.store-hot-list ul li p {
	width: 180px;
	margin: 0px auto;
	text-align: left;
}

.store-hot-list ul li .hot-sale {
	float: right;
}

.store-hot-list ul li span i {
	font-family: georgia;
	font-size: 14px;
	font-weight: 200;
}

.store-new-list {
	width: 100%;
	background: #f5f5f5;
	padding: 60px 0px;
}

.store-new-list h1 {
	color: #333;
	font-weight: 200;
	line-height: 58px;
	margin: 0;
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	font-size: 22px;
	margin: 0px 0px 10px 0px;
}

.store-new-list h1 span {
	font-size: 14px;
	color: #ccc;
	margin: 0px 10px;
}

.store-new-list h1 a {
	font-size: 12px;
	float: right;
	font-weight: 200;
	line-height: 35px;
	margin: 0px 30px 0px 0px;
	color: #ccc;
}

.store-new-list .new-list-box {
	width: 1002px;
	margin: 0px auto;
	overflow: hidden;
}

.mew-show-box {
	border: 1px solid #d8d8d8;
	padding: 20px;
	overflow: hidden;
	width: 958px;
	height: 573px;
	background: #fff;
}

.mew-show-box .new-img-show {
	width: 500px;
	height: 600px;
	float: left;
	margin: 0px 20px 0px 0px;
	text-align: center;
}

.mew-show-box .new-img-show img {
	width: 400px;
	margin: 20px auto;
	height: 400px;
}

.mew-show-box .new-img-show h3 {
	width: 400px;
	height: 75px;
	font-size: 14px;
	font-weight: 200;
	line-height: 25px;
	text-align: left;
	margin: 0px 0px 0px 50px;
}

.mew-show-box .new-img-show p {
	font-size: 14px;
	width: 400px;
	margin: 0px 0px 0px 50px;
	text-align: left;
}

.mew-show-box .new-img-show p span i {
	font-size: 36px;
	margin: 0px 5px;
	font-weight: 200;
}

.new-img-show p b {
	font-weight: 200;
	color: #bbb;
	margin: 0px 30px;
}

.mew-show-box ul {
	float: left;
	width: 438px;
	overflow: hidden;
}

.mew-show-box ul li {
	float: left;
	width: 124px;
	height: 124px;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
	margin: 0px 10px 10px 0px;
}

.mew-show-box ul li img {
	width: 124px;
	height: 124px;
}

.mew-show-box ul .selected {
	border: 1px solid #83c44e
}

.store-recommend-box {
	width: 100%;
	overflow: hidden;
	padding: 30px 0px;
}

.store-recommend-box .store-recommend {
	width: 1200px;
	overflow: hidden;
	margin: 0px auto;
}

.store-recommend-box .store-recommend h2 {
	color: #333;
	font-weight: 200;
	line-height: 58px;
	margin: 0;
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	font-size: 22px;
	margin: 0px 0px 10px 0px;
}

.store-recommend h2 span {
	font-size: 14px;
	color: #ccc;
	margin: 0px 10px;
}

.store-recommend h2 a {
	font-size: 12px;
	float: right;
	font-weight: 200;
	line-height: 35px;
	margin: 0px 30px 0px 0px;
	color: #ccc;
}

.store-recommend ul {
	width: 1220px;
	oveflow: hidden;
	margin: 20px 0px;

}

.store-recommend ul li {
	display: block;
	float: left;
	margin-bottom: 23px;
	margin-right: 23px;
	overflow: hidden;
	position: relative;
	width: 280px;
	border: 1px solid #eee;

}

.store-recommend ul li img {
	width: 240px;
	margin: 20px;
}

.store-recommend ul li h4 {
	height: 50px;
	line-height: 25px;
	font-size: 14px;
	padding: 0px 0px 5px 0px;
	border-bottom: 1px dashed #ccc;
	width: 240px;
	margin: 0px 0px 0px 20px;
	font-weight: 200;
}

.store-recommend ul li p {
	height: 25px;
	line-height: 25px;
	width: 240px;
	margin: 5px 0px 20px 20px;
}

.store-recommend ul li p span i {
	font-family: georgia;
	font-size: 24px;
	font-weight: 200;
}

.store-recommend ul li p .rec-sale {
	float: right;
	margin: 0px 5px 0px 0px;
}

.store-note-box {
	width: 1200px;
	oveflow: hidden;
	margin: 20px auto;
}

.note-title {
	border-bottom: 1px dashed #ccc;
	overflow: hidden;
	width: 500px;
	margin: 0px auto 20px auto;
	padding: 0px 0px 10px 0px;
}

.store-note-box h2 {
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	width: 500px;
	text-align: center;
}

.store-note-box h3 {
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	width: 500px;
	text-align: center;
	font-weight: 200;
}

.store-note-box .store-note {
	width: 800px;
	line-height: 25px;
	font-size: 12px;
	font-weight: 200;
	text-align: center;
	margin: 0px auto;
}

.store-box {
	width: 1000px;
	margin: 0px auto;
	padding: 20px 0px;
}

.store-box h2 {
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	width: 500px;
	text-align: center;
	border-top: 1px dashed #bbb;
	padding: 20px 0px 20px 0px;
	margin: 0px auto;
}

.store-box {
	width: 900px;
	text-align: center;
}

.store-box .information-same {
	display: inline-block;
	margin: 0px 30px;
	text-align: left;
}

.store-box .information-same h1 {
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	border-bottom: 1px solid #000;
	float: left;
	font-weight: 200;
	line-height: 30px;
	font-size: 14px;
	margin-bottom: -1px;
	padding: 9px 0;
}

.store-box .information-same div {
	border-top: 1px dotted #000;
	clear: both;
	line-height: 22px;
	overflow: hidden;
	padding: 10px 0 0;
}

.store-goodlist-page {
	width: 1200px;
	overflow: hidden;
	clear: both;
}

.store-classify {
	float: right;
	position: relative;
}

.store-classify h1 {
	float: left;
	font: 14px/100px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	height: 100px;
}

.store-classify h1 i {
	background: url("../../../images/top_bg.png") no-repeat 0px 0px;
	display: inline-block;
	float: right;
	height: 3px;
	margin: 51px 6px 0 10px;
	transition: all 0.2s ease-in 0s;
	vertical-align: middle;
	width: 6px;
}

.store-classify .selected i {
	transform: rotate(180deg);
	transform-origin: 50% 30% 0;
}

.store-classify .s-c-listbox {
	position: absolute;
	left: 0px;
	top: 70px;
	background: rgba(0, 0, 0, 0.2) !important;
	filter: Alpha(opacity=80);
	background: #fff;
	padding: 0px 10px 10px 10px;
	z-index: 999;
}

.s-c-listbox .s-c-list {
	height: 30px;
	line-height: 30px;
	position: relative;
	padding: 0px 5px;
	width: 160px;
}

.s-c-listbox .s-c-list .store-next-cat {
	background: url(../../../images/nav_all_a.png) no-repeat -5px -136px;
	display: block;
	float: right;
	width: 13px;
	height: 13px;
	margin: 10px 0px 0px 0px;
}

.s-c-listbox .s-c-list a {
	color: #000;
	position: relative;
}

.s-c-listbox .hover {
	background: #d9d2c0;
}

.s-c-listbox .hover .s-c-title {
	color: #000
}

.s-c-listbox .hover .store-next-cat {
	background: url(../../../images/nav_all_a.png) no-repeat -5px -116px;
	display: block;
	float: right;
	width: 13px;
	height: 13px;
	margin: 10px 0px 0px 0px;
}

.s-c-listbox .s-c-list .s-cat-listbox {
	position: absolute;
	top: 0px;
	left: 150px;
	overflow: hidden;
	padding: 0px 10px 10px 10px;
	float: none;
}

.s-cat-listbox li {
	height: 30px;
	line-height: 30px;
	margin: 0px 10px;
	padding: 0px 5px;
	width: 160px;
	background: rgba(96, 96, 96, 0.8) !important;
	filter: Alpha(opacity=80);
	border-bottom: 1px dashed #888;
}

.s-cat-listbox .childhover {
	background: rgba(196, 196, 196, 0.8) !important;
	filter: Alpha(opacity=80);
}

.s-cat-listbox .last {
	border: 0px none;
}

.s-cat-listbox li a {
	display: block;
	position: relative;
}


/*********增加促销活动详情页面store-activity.html*******/
.activity-outside{
	width:800px;overflow:hidden;margin:20px auto;padding:30px 20px;background:#f7f7f7;
}
.activity-same{width:100%;overflow:hidden;margin:0 0 20px 0;}
.activity-outside h3{
	   border-bottom: 1px solid #000;
    float: left;
    font: 200 14px/30px "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    margin-bottom: -1px;
    padding: 9px 0;
}
.activity-outside h4{ 
	border-top: 1px dotted #000;
    clear: both;
    line-height: 22px;
    overflow: hidden;
    padding: 10px 0 0;
    font-size:16px;
    font-weight:200;
    color:#ff4a00;
	width:500px;
}
.activity-outside h4 span{padding:0 10px;}
.activity-box{width:500px;overflow:hidden;margin:0 0 20px 0;

border-top: 1px dotted #000;
    clear: both;
    line-height: 22px;
    overflow: hidden;
    padding: 10px 0 0;
}
.activity-box p{line-height:30px;font-size:14px;font-weight:200;}
.activity-box .threshold{font-size:16px;color:#ff4a00;}
.activity-word{width:100%;overflow:hidden;margin:0 0 20px 0;text-align:center;

border-top: 1px dotted #000;
    clear: both;
    line-height: 22px;
    overflow: hidden;
    padding: 10px 0 0;

}
.activity-word p{line-height:22px;text-align:justify;}
.activity-word img{width:60%;margin:10px auto;}
.activity-outside .no-activity{width:100%;height:200px;line-height:200px;text-align:center;font-size:14px;}

















