@import "common.css";

/*科学影城时间表*/
.title-bg{
    width: 700px;
    height: 86px;
    line-height: 85px;
    margin-top: 20px;
    background: url(images/row-table-title1.png) no-repeat;
    text-align: center;
    font-size: 32px;
    color: #fff;
}
.table{
    overflow: hidden;
    width: 1135px;
    margin: auto;
}
.table .header{
    width: 1135px;
    height: 70px;
    background: #e7e7e7;
    line-height: 70px;
    color: #333;
    font-size: 24px;
    margin: auto;
}
.table li{
    float: left;
    width: 25%;
    text-align: center;

}
.table .row {
    overflow: hidden;
    height: 85px;
    line-height: 85px;
    font-size: 19px;
}
/*.table .row li:not(:eq(2)){
    line-height: 124px;
}*/
.table .row i{
    font-size: 22px;

}
.mark-red{
    color: red;
}
.table-bg{
    background: #e3edf4;
}

/* 加载中 */
.loading{
    text-align: center;
    margin: 65px 0 170px;
}
.loading .txt{
    font-size: 12px;
    margin-top: 14px;
}











