* {margin:0;padding:0;outline:none;}
html,
body {
  margin: 0 auto !important;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ul,
ol,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
strong,
b {
  font-weight: normal;
}
img {
  border: none;
}
input,
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  border: 0;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
textarea:focus {
  outline: 0;
}
*:focus {
  outline: none;
}
body {
  color: #fff;
  font-size: 14px;
  background: #fff;
  -webkit-text-size-adjust: none;
}
a {
  color: #464646;
}
input:-webkit-autofill {
  background: none;
}
.clearfix {clear:both; float:none;}
.clfix::after,.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
html,body {outline:none; background-color:#fff; min-width:1200px; width:100%; font-family:'PingFang sc','Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif; font-size:14px; line-height:26px; color:#707070;}
img,input,textarea,button,select {border:0; font-family:'PingFang sc','Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;}
a {text-decoration:none;}
input[type="button"],input[type="submit"],button {cursor:pointer;}
body{
    color: #333;
}
.nav-bar{
    background: #EDF2F6;
    height:120px;
    line-height: 120px;
}
.nav-content{
    width: 1200px;
    margin: 0 auto;
}
.nav-title{
    font-size: 36px;
    margin-right: 79px;
    color: #333;
}
.section-content{
    width: 1200px;
    margin: 0 auto;
    color: #333;
}
.nav-title,.nav-list,.nav-list li {
    display: inline-block;
}
.nav-list a{
    color: #333;
    margin: 0 20px;
}
.nav-list .active{
    color: #005AFF;
}

/* 面包屑 */
.crumbs{
    padding: 30px 0;
}

.text-indent{
    text-indent: 2em;
}

/* 加载中 */
.loading{
    text-align: center;
    margin: 65px 0 170px;
}
.loading .txt{
    font-size: 12px;
    margin-top: 14px;
}

/*导航*/
.navCss {
    width: 100%;
    position: relative;
   	z-index: 999;
  box-shadow: 0px 0px 10px 2px #e3e3e3;
}
.navCss .navWrap{
	    width: 1200px;
	    height: 110px;
    height: 110px;
    margin: 0 auto;
    position: relative;
    
}

.navCss .navWrap .logo{
	float: left;
	margin-top:22.5px ;
}
.navCss .navWrap .logo img{
	width: 170px;
	height: auto;
}
.navCss .navWrap .fr{
	float: right;
	  
}
.navCss .navWrap .fr .navList{
	 overflow: visible;
    padding-right: 70px;
}
.navCss .navWrap .fr .navList .item{
	float: left;
	width: 115px;
	height: 110px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	position: relative;
}
.navCss .navWrap .fr .navList .item:hover{
	background: #1173D1;
	
}
.navCss .navWrap .fr .navList .item:hover a{
	color: #fff;	
}
.navCss .navWrap .fr .navList .item a{
	line-height: 40px;
	height: 40px;
	margin-top: 35px;
}
.navCss .navWrap .fr .navList .item .itmeList{
	position: absolute;
	top: 0;
	left: -30px;
	width: 170px;
	margin-top: 110px;
	display: none;
	border: 1px solid #f3f3f3;
	box-shadow: 0px 0px 10px 2px #f3f3f3;
}
.navCss .navWrap .fr .navList .item .itmeList div{
	background:#fff;
	height: 50px;
	width: 170px;
	margin-top: 1px;
}
.navCss .navWrap .fr .navList .item .itmeList div>a{
	line-height: 30px;
	height: 30px;
	margin-top: 10px;
	color: #000;
}
.navCss .navWrap .fr .navList .item a:hover{
	border-bottom:1px solid #0075d0;
}

/*Header - start*/
.Header {width:100%; overflow:hidden;background: #f1f1f1;color: #333;	}
.headerWrap {width:1200px; height:50px; margin:0 auto; position:relative;}
.tel {float:left; padding-top:15px;}
.tel em {font:italic 22px "Times New Roman", Times, serif;}
.header_link {float:right; padding-top:15px;}
.header_link a {margin-right:3px; -moz-transition:all 0.4s ease 0s; -webkit-transition:all 0.4s ease 0s; -ms-transition:all 0.4s ease 0s; transition:all 0.4s ease 0s;}
.header_link a:hover {color:#000; text-decoration:underline;}
.header_link .chazhao {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(img/fada2.png) center center no-repeat;
    background-size: 15px 15px;
    vertical-align: middle;
}
.header_link .shu{
	border-right: 1px solid #333;
	height: 10px;
	display: inline-block;
	margin-right: 5px;
}s
/*Header - end*/
/*Footer - start*/
.footer {width:100%; overflow:hidden;text-align:center; padding:25px 0 10px 0;border-top:1px solid #d7d7d7 ;margin-top: 80px;}
.footer>div{
	float: left;
}
.footer>div a{
	color: #000;
	font-family: "微软雅黑";
		font-weight: bold;
}
.footer .footerLeft{
	width: 550px;
	margin-top: 30px;
}
.footer .footerRight{
	width: 450px;
	margin-top: 30px;
	margin-left: 60px;
}
.footer .footerLeft div{
	width: 130px;
	float: left;
}
.footer .footerRight div{
	width: 110px;
	float: left;
}
.footerMi{
	width: 130px;
	height: 120px;
	background: url(images/logo2.png) no-repeat top center;
	background-size:67px 76px;
	line-height: 200px;
	font-weight: bold;
}
.footer2{
	width: 1200px;
	height: 200px;
	text-align: center;
}
.footerLeft2{
	width: 130px;
	height: 150px;
	background: url(images/erweima.png) top center no-repeat;
	background-size:115px 115px;
	display: inline-block;
	margin-right: 20px;
	line-height: 265px;
		font-weight: bold;
}
.footerRight2{
	width: 130px;
	height: 150px;
	background: url(images/erweima.png) top center no-repeat;
	background-size:115px 115px;
	display: inline-block;
	line-height: 265px;
		font-weight: bold;
}
.footerRight>div:nth-child(1),.footerLeft>div:nth-child(1){
	font-size: 18px;
}
.footer3{
	text-align: center;
}
.footer3 span{
	border-top: 1px solid #d7d7d7;
	padding: 5px 0;
}
.mainContent {
    width: 1200px;
    color: rgb(51, 51, 51);
    margin: 50px auto 20px;
    overflow: hidden;
    font: 14px/24px ����, sans-serif;
}
.mainContent .footer a{
	color: #333;
}
/*Footer - end*/

.page {
	float: right;
	height: 50px;
	/*margin: 20px 10px 0px 0px;*/
	/*display: inline;*/
}
.page span {
	background-color: #fafafa;
	border: 1px solid #e6e6e6;
	color: #aaa;
	display: block;
	font: 14px/20px "microsoft yahei";
	min-width: 20px;
	padding: 8px;
	position: relative;
	text-align: center;
	z-index: 1;
	float: left;
}

.page ul {
	float: left;
	display: inline;
}

.page ul li {
	float: left;
	display: inline;
}

.page ul li a {
	background-color: #fafafa;
	border: 1px solid #e6e6e6;
	color: #aaa;
	display: block;
	font: 14px/20px "microsoft yahei";
	min-width: 20px;
	padding: 8px;
	position: relative;
	text-align: center;
	z-index: 1;
}

.page ul li .selected {
	color: #ec4f4a;
	font-size: 16px;
	font-weight: 600;
	vertical-align: middle;
}