.nav-bar{
    background: #EDF2F6;
    height:120px;
    line-height: 120px;
}
.nav-content{
    width: 1200px;
    margin: 0 auto;
}
.nav-title{
    font-size: 36px;
    margin-right: 79px;
    color: #333;
}
.section-content{
    width: 1200px;
    margin: 0 auto;
    color: #333;
}
.nav-title,.nav-list,.nav-list li {
    display: inline-block;
}
.nav-list a{
    color: #333;
    margin: 0 20px;
}
.nav-list .active{
    color: #005AFF;
}

/* 面包屑 */
.crumbs{
    margin: 30px auto;
}

.change-game-box{
    border: 1px solid #c3c3c3;
    border-bottom: 2px solid #c3c3c3;
    padding: 10px 0 15px 26px;
}
.g-type{
    height: 34px;
    line-height: 34px;
}
.g-type .title{
    display: inline-block;
}
.g-type a{
    color: #333;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    text-align: center;
    padding: 0 9px;
}
.g-type a:hover{
    cursor: pointer
}
.g-type .g-active{
    background: #3375c3;
    color: #fff;
}