@import "common.css";
/* 温馨提示 */

.txt-content{
    width: 1200px;
    height: 542px;
    background: #fff;
    margin-bottom: 60px;
}
.txt-content .list{
    width: 1007px;
    height: 287px;
    padding: 0 154px 170px 39px;
}
.txt-content .list li{
    padding: 2px;
    text-indent: 2em;
}

.txt-content .content-title{
    padding: 35px 0 20px 34px;
    font-size: 30px;
}

.txt-content .time-list{
    margin-left: 70px;
}







